@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --azul-escuro: #275BA8;
    --azul-claro: #5096B5;

    
    --swiper-navigation-size: 44px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 10px;
    --swiper-navigation-color: var(--swiper-theme-color);
    
}